@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
    background-image: url(relgoginbg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif; 
}
.form-box{
    width: 500px;
    background: linear-gradient(to right, #7e797b, #535353 100% );
    margin: 12% auto;
    padding: 50px 0;
    color: linear-gradient(to right, #7e797b, #424242 100%);
    box-shadow: 0 0 20px 5px rgba(44, 44, 44, 0.5);
}

h1{
    text-align: center;
    margin-bottom: 40px;
}
.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #3b0c0c;
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #ffff;
}
::placeholder{
    color: #000000;
}
.bi{
    margin-right: 10px;
}
.eye{
    position: absolute;
}
#hide1{
    display: none;
}
.login-btn{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 3px solid linear-gradient(to right, #fff, #424242 100%);
    cursor: pointer;
    background: transparent;
    font-size: 20px;
    color: #000;
}

.register-link {
    text-align: center;
}

.signUp-link {
    text-align: center;
}
